<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <div class="footer__lodge">
                <span class="footer__lodge__title">Mountain Lodge </span>
                <p class="footer__lodge__desc">Aenean sollicitudin lobortis nisi at bibendum. Praesent sit amet sapien tortor.</p>
                <div class="footer__media">
                    <img src="../../assets/facebook.png" alt="facebook" class="footer__media__image">
                    <img src="../../assets/twitter.png" alt="twitter" class="footer__media__image">
                    <img src="../../assets/linkedin.png" alt="linkedin" class="footer__media__image">
                    <img src="../../assets/pinterest.png" alt="pinterest" class="footer__media__image">
                </div>
            </div>
            <div class="footer__map">
                <img src="../../assets/googlemaps.PNG" alt="map" class="footer__map__image">
            </div>
            <div class="footer__info tab-view">
                <h3 class="footer__info__title">Resources</h3>
                <ul>
                    <li class="footer__info__list">Pricing</li>
                    <li class="footer__info__list">Account FAQs</li>
                    <li class="footer__info__list">Contact Support</li>
                    <li class="footer__info__list">Privacy Policy</li>
                    <li class="footer__info__list">Terms</li>
                </ul>
            </div>
            <div class="footer__info tab-view">
                <h3 class="footer__info__title">Support</h3>
                <ul>
                    <li class="footer__info__list">Affiliates</li>
                    <li class="footer__info__list">Sitemap</li>
                    <li class="footer__info__list">Cancelation Policy</li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright">
            <p class="footer__copyright__info">Copyright {{year | date:'yyyy'}} Mountain View Cabins. All rights reserved.</p>
        </div>
    </div>
</footer>