<app-nav-bar></app-nav-bar>
<app-main-content></app-main-content>
<app-our-lodges></app-our-lodges>
<div class="media">
    <div class="media__inner">
        <h1 class="media-title">FEATURED IN OVER 100 MEDIA OUTLETS</h1>
        <div class="media-images">
            <img src="../assets/Medium-Logo-Black-RGB_300x80.svg" alt="medium" class="social-media sm-image-1 sm-desktop">
            <img src="../assets/Airbnb_Logo_Bélo.svg" alt="airbnb" class="social-media sm-image-2">
            <img src="../assets/Time_Magazine_logo.svg" alt="time" class="social-media sm-image-3">
            <img src="../assets/huffingtonpost-logo.svg" alt="huffing" class="social-media">
            <img src="../assets/Booking.com_logo.svg" alt="booking" class="social-media sm-desktop">
        </div>
    </div>
</div>
<app-more-info></app-more-info>
<div class="contact">
    <div class="contact__inner">
        <span class="contact__title">Etiam volutpat sapien quis velit consequat, sit.</span>
        <div class="contact__info">
            <button class="contact__btn btn--success">Get Started</button>
            <button class="contact__btn btn--primary">Contact Us</button>
        </div>
    </div>
</div>
<app-footer></app-footer>